.slider {
    position: absolute !important;
    top: 153 !important;
    height: calc(100% - 153px) !important;
    .sliderSlide {
        text-align: center;
        >div {
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(calc(-50% - 76.5px));
        }
    }
}